/*header, footer {*/
/*    background-color: var(--bg-color-grey);*/
/*}*/

/*.float-start img {*/
/*    box-shadow: 0.6rem 0.6rem 0.6rem gray;*/
/*}*/

/*.far-galaxy {*/
/*    letter-spacing: 0.1em;*/
/*    text-align: justify;*/
/*}*/

/*.rounded-bottom-left {*/
/*    border-bottom-left-radius: 2.5rem;*/
/*}*/

/*.rounded-bottom-right {*/
/*    border-bottom-right-radius: 2.5rem;*/
/*}*/

/*footer {*/
/*    height: 5rem;*/
/*}*/

/*.btn-danger {*/
/*    background-color: var(--bg-color-red);*/
/*    color: var(--color-main);*/
/*}*/