@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import "tailwindcss";

@theme{
    --font-poller: 'Poller One', sans-serif;
    --background-image-sky: url('./assets/sky.jpg');
    --color-main: #eedb00;
    --color-gray: rgba(60, 69, 67, 0.6);
    --color-red: rgba(204, 3, 35, 0.6);
    --shadow-hero: 0.6rem 0.6rem 0.6rem gray;
}

@layer base {
    body {
        @apply font-poller text-main bg-sky bg-fixed mx-2;
    }
}

/*:root {*/
/*    --color-main: #eedb00;*/
/*    --bg-color-grey: rgba(60, 69, 67, 0.6);*/
/*    --bg-color-red: rgba(204, 3, 35, 0.5);*/
/*}*/

/*body {*/
/*    !* Шрифт *!*/
/*    font-family: "Poller One", sans-serif;*/
/*    background-image: url("./assets/sky.jpg");*/
/*    color: var(--color-main);*/
/*    background-attachment: fixed;*/
/*}*/